
/* Main navigation */
nav {
    margin: 0px;
    padding: 10px 2rem;
    background-color: rgb(47, 196, 233);
}

ul {
    display: none; 
    padding: 0px;
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Nav-btn styling */
span { 
    display: block; margin: 4px; width: 20px; height: 2px; background-color: rgb(36, 36, 36); 
}

#checkMenu { 
    display: none; 
}

/* Responsive nav */
#checkMenu:checked ~ ul { 
    display: flex; flex-direction: column; margin-top: 10px; 
}

#checkMenu:checked ~ #checkMenuLabel > #span1 { 
    display: none; 
}

#checkMenu:checked ~ #checkMenuLabel > #span2 { 
    position: absolute; transform: rotate(-43deg); 
}

#checkMenu:checked ~ #checkMenuLabel > #span3 { 
    position: absolute; transform: rotate(43deg); 
}

/* General styling */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main { 
    margin-left: auto;
    padding: 20px 2rem;
}

p {
    max-width: 60ch;
    line-height: 1.5rem;
}

footer {
    padding: 20px 2rem;
    background-color: rgb(47, 196, 233);
}

/*Screens over 640px*/
@media screen and (min-width: 640px) {
    main, footer, nav { padding-left: 5rem; padding-right: 5rem; }
    ul { display: flex; }
    #checkMenuLabel { display: none; }
}